@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


/*body*/

.tituloProductos{
    margin-left: 50px;
    font-size: 2.5rem;
}

.prodArriba{
    display: flex;
    justify-content: space-between;
    position: relative;
}

.prodAbajo{
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 50px;
}

.burger {
    position: absolute;
    width: 350px;
    height: 310px;
    margin: 0px 20px;
    border-radius: 200px;
    border-color: #DF5700;
    border-width: 7px;
    border-style: solid groove;
    transform: rotateY(0deg);
    backface-visibility: hidden;
    transition: 1s;
}

/* Animacion */
.back {
    width: 350px;
    height: 310px;
    border-radius: 200px;
    border-color: #DF5700;
    background-color: #DF5700;
    border-width: 7px;
    border-style: solid groove;
    margin: 0px 20px;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    transition: 1s;
    text-align: center;
}

.back h1{
    position: relative;
    top: 20px;
}

.back h2{
    font-size: 4rem;
}

.back a{
    position: relative;
    font-size: 2rem;
}

.contenedor:hover img {
    transform: rotateY(180deg);
}

.contenedor:hover .back {
    transform: rotateY(360deg);
}

/**************/


/*botones*/
.arriba{
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 10px;
}

.abajo{
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 70px;
}

.btn a{
    display: block;
    color: black;
    font-size: 2rem;
    background-color:#DF5700;
    padding: 10px 40px;
    width: 150px;
    border-radius: 100px;
    border-style: solid groove;
    border-color:#DF5700;
    margin: 0px 80px;
    text-align: center;
}

.btn a.doblePanceta{
    font-size: 1.5rem;
}

#betoss, #doblePanceta, #H1706{
    border-color:  #FF8A00;
    background-color: #FF8A00;
}
/****************************/
@media screen and (max-width: 1200px) {
    .burger{
        width: 290px;
        height: 250px;
        margin: 0px 40px;
        border-radius: 120px;
    }

    .back{
        width: 290px;
        height: 250px;
        margin: 0px 40px;
        border-radius: 120px;
    }

    .back h2{
        position: relative;
        top: 10px;
        font-size: 2.5rem;
    }

    .back a{
        position: relative;
        top: 30px;
    }

    .btn a{
        margin: 0px 80px;
    }

    .btn a.doblePanceta{
        font-size: 1.3rem;
    }

    .btn a.cheddarBoom{
        font-size: 1.6rem;
    }

    .navegacion{
        font-size: 1rem;
    }
    
}

@media screen and (max-width: 1100px) {
    .burger{
        width: 290px;
        height: 250px;
        margin: 0px 20px;
        border-radius: 120px;
    }

    .back{
        width: 290px;
        height: 250px;
        margin: 0px 20px;
        border-radius: 120px;
    }

    .back h2{
        position: relative;
        top: 10px;
        font-size: 2.5rem;
    }

    .back a{
        position: relative;
        top: 30px;
    }

    .btn a{
        margin: 0px 70px;
    }

    .btn a.doblePanceta{
        font-size: 1.3rem;
    }

    .btn a.cheddarBoom{
        font-size: 1.6rem;
    }

    .navegacion{
        font-size: 1rem;
    }
    
}

@media screen and (max-width: 1050px){
    .burger{
        margin: 0px 10px;
    }

    .back{
        margin: 0px 10px;
    }

    .back h2{
        position: relative;
        top: 10px;
        font-size: 2.5rem;
    }

    .back a{
        position: relative;
        top: 30px;
    }

    .btn a{
        margin: 0px 60px;
    }
    
}

@media screen and (max-width: 1000px){
    a{
        background-color: #DF5700;
    }
    
}

@media screen and (max-width: 600px){
}