@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


/*body*/

.tituloProductos{
    margin-left: 50px;
    font-size: 2.5rem;
}

.prodArriba{
    display: flex;
    justify-content: space-between;
    position: relative;
}

.prodAbajo{
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 50px;
}

.burger {
    position: absolute;
    width: 350px;
    height: 310px;
    margin: 0px 20px;
    border-radius: 200px;
    border-color: #DF5700;
    border-width: 7px;
    border-style: solid groove;
    transform: rotateY(0deg);
    backface-visibility: hidden;
    transition: 1s;
}

/* Animacion */
.back {
    width: 350px;
    height: 310px;
    border-radius: 200px;
    border-color: #DF5700;
    background-color: #DF5700;
    border-width: 7px;
    border-style: solid groove;
    margin: 0px 20px;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    transition: 1s;
}

.contenedor:hover img {
    transform: rotateY(180deg);
}

.contenedor:hover .back {
    transform: rotateY(360deg);
}

/**************/



#betoss, #doblePanceta, #H1706{
    border-color:  #FF8A00;
    background-color: #FF8A00;
}
.productos{
    width: 100%;
    align-items: center;
}
/*************************/

/*botones*/
.arriba{
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 10px;
}

.abajo{
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 70px;
}

.btn a{
    color: black;
    font-size: 2rem;
    background-color:#DF5700;
    padding: 10px 40px;
    width: 150px;
    border-radius: 100px;
    border-style: solid groove;
    border-color:#DF5700;
    margin: 0px 80px;
    text-align: center;
}

.btn a:nth-child(2n-1){
    border-color:  #FF8A00;;
    background-color: #FF8A00;;
}

.btn a.doblePanceta{
    font-size: 1.5rem;
}

.espaciado{
    height: 200px;
}

/****************************/
@media screen and (max-width: 1200px) {
    .burger{
        width: 250px;
        height: 210px;
        margin: 0px 40px;
        border-radius: 100px;
    }

    .btn a{
        margin: 0px 75px;
    }

    .navegacion{
        font-size: 1rem;
    }
    
}

@media screen and (max-width: 900px){
    .productos{
        grid-template-columns: repeat(2, auto);
    }
}

@media screen and (max-width: 600px){
    .productos{
        grid-template-columns: repeat(1, auto);
    }
}